.disable-scroll {
  overflow: hidden;
  height: 100% !important;

  body {
    height: 100% !important;
    overflow: hidden;
  }
}

.italic {
  font-style: italic;
}

.text-sm {
  font-size: rem(14px);
  @include onlyMobile {
    font-size: rem(12px);
  }
}

.object-cover {
  object-fit: cover;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

@mixin skeleton-block($height) {
  position: relative;
  height: #{$height}px;
  width: 100%;
  background: linear-gradient(-45deg, #dfdfdf 40%, #fafafa 50%, #dfdfdf 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

.skeleton-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #dfdfdf 40%, #fafafa 50%, #dfdfdf 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

.skeleton-block-20 {
  @include skeleton-block(20);
}

.skeleton-block-40 {
  @include skeleton-block(40);
}

.skeleton-block-60 {
  @include skeleton-block(60);
}
.skeleton-block-100 {
  @include skeleton-block(100);
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
