.sinput {
  width: 80%;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 999px;
  padding: rem(10px);
  color: $black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  &:focus {
    outline: none;
  }
}
